.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    height: 100%;
    margin-bottom: 20px;
  }
  
  .search {
    margin-right: auto;
    margin-left: 3.8%;
  }
  
  .search button {
    margin-left: 5px;
    background-color: yellow;
    border-color: yellow;
    width: 60px;
    height: 30px;
    border-radius: 5px;
  }
  
  .search button:hover {
    cursor: pointer;
    font-weight: bold;
    -webkit-box-shadow: 0px 0px 10px 5px #fff900;
    box-shadow: 0px 0px 10px 5px #fff900;
  }
  
  .search input {
    width: 400px;
    height: 25px;
    border-color: yellow;
    color: #fff900;
    background-color: black;
    border-radius: 5px;
    caret-color: yellow;
  }
  
  .search input:focus {
    outline: none;
    font-weight: bold;
    -webkit-box-shadow: 0px 0px 10px 1px #fff900;
    box-shadow: 0px 0px 10px 1px #fff900;
  }
  
  .error {
    border-color: red !important;
  }
  .error:focus {
    -webkit-box-shadow: 0px 0px 10px 1px #ff0000 !important;
    box-shadow: 0px 0px 10px 1px #ff0000 !important;
  }
  
  .search ::placeholder {
    color: yellow;
    font-style: oblique;
    font-weight: bold;
  }
  
  .container img {
    margin-left: 3.5%;
    width: 40px;
    height: 40px;
  }
  
  .container h4 {
    margin: 0;
    margin-right: 10px;
    /* margin-bottom: 10px; */
    padding: 15px;
    color: yellow;
  }
  
  .container h4:hover {
    cursor: pointer;
    outline: 2px solid yellow;
    border-radius: 5px;
  }
  
  .link {
    text-decoration: none;
  }
  
  @media screen and (max-width: 870px) {
    .container img {
      margin-left: 2.5%;
    }
  }
  
  @media screen and (max-width: 580px) {
    .search input {
      width: 365px;
    }
    .search {
      margin: auto;
    }
  }
  
  @media screen and (max-width: 500px) {
    .search input {
      width: 300px;
    }
    .container h4 {
      margin-right: 0;
    }
  }
  
  @media screen and (max-width: 450px) {
    .search input {
      width: 250px;
    }
  }
  
  @media screen and (max-width: 400px) {
    .search input {
      width: 190px;
    }
    .search button {
      margin-right: 20px;
    }
  }
  